@import '~bootstrap/scss/bootstrap';
@import "swiper/css/bundle";
@import "~slick-carousel/slick/slick.css"; 
@import '~react-modal-video/scss/modal-video.scss';
@import '~react-tooltip/dist/react-tooltip.css';
@import '@assets/css/nice-select.css';
@import '@assets/scss/main.scss';
